.slider{
    overflow: hidden;
    margin: auto;
    width: 100%:
}
.slider ul{
    display: flex;
    padding: 0px;
    width: 500%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    animation-direction: alternate;
}
.slider img{
    width: 100%;
    height: 200px;
    float: left;
}

@media (min-width: 768px) {
    .slider img{
        height: 400px;
    }
}

.slider li{
    width: 100%;
    list-style: none;
}
@keyframes slider{
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    40%{
        margin-left: -100%;
    }
    60%{
        margin-left: -200%;
    }
    80%{
        margin-left: -300%;
    }
    100%{
        margin-left: -400%;
    }
}